body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(7,143,255);
}
.head{
background-color: rgb(7,143,255);

}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
}
.image{
    width: 20vw;
}
.serach{
    width: 30vw;
}